h3 {
    font-size: 35px;
    text-align: center;
}




bookshelf,
bookshelf-bottom {
    display: flex;
    justify-content: center;
    padding: 35px 0px 0px 0px;
    border-top: groove #d2691e 10px;
    border-right: ridge #d2691e 10px;
    border-left: groove #d2691e 10px;
    background: -moz-linear-gradient(to bottom, #b22222, #a52a2a);
    background: -webkit-linear-gradient(to bottom, #b22222, #a52a2a);
    background: linear-gradient(to bottom, #b22222, #a52a2a);
}

bookshelf-bottom {
    border-bottom: groove #d2691e 10px;
}

.group-wrapper,
.group-wrapper-live {
    width: 160px;
    height: 250px;
    border: 3px solid;
    text-align: center;
    background-color: #ffdab9;
    transition: 0.2s;
}

.group-wrapper-blank {
    width: 160px;
    height: 250px;
    border: 3px solid;
    text-align: center;
    background-color: #ffdab9;
}

.group-wrapper-live {
    width: 180px;
    background-color: #ffe4e1;
}

.sebyousi,
.sebyousi_twin,
.sebyousi_live {
    text-align: center;
    width: 38px;
    height: 250px;
    border: 1px solid;
    background: linear-gradient(to top, #cd853f, #f4a460);
}

.sebyousi_twin {
    width: 76px;
}

.sebyousi_live {
    width: 76px;
    color: darkred;
    background-color: #f4a460;
    background: linear-gradient(to top, #f4a460, #f4a460);

}

.blank {
    width: 37px;
    height: 250px;
    background: linear-gradient(to bottom, #b22222, #cd5c5c);
}

.blank-live {
    width: 60px;
    height: 250px;
    background: linear-gradient(to bottom, #b22222, #cd5c5c);
}

.book-title {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    margin-top: 10px;
}

.group-wrapper:hover {
    background-color: coral;
}

.group-wrapper-live:hover {
    background-color: coral;
}

.modal-body {
    text-align: center;
}

.btn-secondary {
    color: black;
    background-color: #b0c4de;
    border-color: #191970;
    transition: 0.1s;
}

.btn-secondary:hover {
    background-color: #00bfff;
    border-color: #0000ff;
}

/*sq1は下段芝祭ロゴ(borderを適用しないため)*/
.sq,
.sq1 {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 114px;
    height: 114px;
}

.sq {
    border: 1px solid black;
}

.l {
    border-left: 6px solid black;
}

.r {
    border-right: 6px solid black;
}


/*h4は団体名*/
h4,
h5 {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    font-family: 'Noto Serif JP', serif;

}

/*アニ研*/
h5 {
    font-size: 20px;

}

/*pは背表紙の文字*/
p {
    text-align: center;
    font-size: 15px;
}

/*p2はライブ配信の文字*/
p2 {
    font-size: 30px;
}



.forline {
    border-top: 2px solid #cd5c5c;
    padding-top: 10px;
}


.sp {
    display: none;
}

.sptext {
    font-size: 0px;
}


@media screen and (max-width: 959px) and (min-width:560px) {

    /*     タブレットレイアウト*/
    h3 {
        font-size: 35px;
    }



    bookshelf,
    bookshelf-bottom {
        padding: 30px 0px 0px 0px;
        border-top: groove #d2691e 10px;
        border-right: ridge #d2691e 10px;
        border-left: groove #d2691e 10px;
    }

    bookshelf-bottom {
        border-bottom: groove #d2691e 10px;
    }

    .group-wrapper,
    .group-wrapper-live {
        width: 160px;
        height: 200px;
        border: 2px solid;
    }

    .group-wrapper-blank {
        width: 160px;
        height: 200px;
        border: 2px solid;
    }

    .sebyousi,
    .sebyousi_twin,
    .sebyousi_live {
        width: 0px;
        height: 0px;
        border: 0px solid;
    }

    .sebyousi_twin {
        width: 0px;
    }


    .blank {
        width: 33px;
        height: 200px;
        background-color: #a52a2a;
    }

    .blank-live {
        width: 60px;
        height: 200px;
    }

    .sq,
    .sq1 {
        margin-top: 20px;
        margin-bottom: 4px;
        width: 98px;
        height: 98px;
    }


    h4,
    h5 {
        font-size: 16px;
        margin: 10px;
    }

    .l {
        border-left: 4px solid black;
    }

    .r {
        border-right: 4px solid black;
    }


    p,
    p2 {
        display: none;
    }

}

@media screen and (max-width: 559px) {

    /* スマホレイアウト */
    h3 {
        font-size: 35px;
    }



    bookshelf,
    bookshelf-bottom {
        padding-top: 30px;

    }

    .group-wrapper {
        background: linear-gradient(to top, #ffdab9, #ffebcd);

    }


    .group-wrapper,
    .group-wrapper-blank,
    .group-wrapper-live {
        width: 70px;
        height: 200px;
        border: 1px solid;

    }



    .sebyousi,
    .sebyousi_twin,
    .sebyousi_live {
        width: 0px;
        height: 0px;
        border: 0px solid;
    }




    .blank,
    .blank-live,
    .sebyousi_live {
        width: 0px;
        height: 0px;
    }

    .forline {
        border-top: 0px solid black;
        padding-top: 0px;

    }


    .sq {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 0px;
        border: 4px solid;
    }

    .sp {
        display: flex;
    }

    p,
    p2 {
        display: none;
    }


    h4,
    h5 {
        font-size: 22px;
        margin: 10px;

    }



    .pctext {
        display: none;
    }


    .sptext {
        font-size: 22px;
        font-family: 'Noto Serif JP', serif;
    }

    /*    ShibaLabに適用*/
    .middletext {
        font-size: 20px;
    }

    /*SHARXSに適用*/
    .smalltext {
        font-size: 18px;
    }


}
