.main-contents {
    background-color: rgba(255, 255, 255, 55%);
    width: 900px;
}

.time-table1 {
    width: 900px;
    height: 650px;
    border: solid 1px;
    background-color: rgba(255, 255, 255, 40%);
}

.time-table2 {
    width: 900px;
    height: 650px;
    border: solid 1px;
    background-color: rgba(135, 206, 250, 40%);
}

.time-table3 {
    width: 900px;
    height: 650px;
    border: solid 1px;
    background-color: rgba(255, 255, 117, 40%);
}

.kikaku-wrapper {
    margin: 20px;
    padding: 35px 20px 0px 20px;
    height: 300px;
    width: 220px;
    background-color: #c0fad0;
    opacity: 0.9;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 2px #d0cec6;
}

h1 {
    font-size: 21px;
    margin: 0px;
    color: black;
}

h2 {
    font-size: 17px;
    margin: 5px 5px 20px 5px;
    text-align: right;
    color: black;
}

p {
    color: black;
}

.detail {
    text-align: right;
    color: blue;
}

.detail:hover {
    color: red;
}

.pc-firstline {
    display: flex;
}

.tablet-firstline .tablet-secondline {
    display: initial;
}

.tab_item {
    display: none;
}

.is-active-item {
    display: block;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.tab_btn {
    padding: 24px 5px 5px 5px;
    width: 120px;
    height: 50px;
    border-bottom: solid 1px #E0F2F7;
    display: inline-block;
    background-color: #cbfcc5;
    font-size: 25px;
    text-align: center;
    opacity: 0.8;
    border-radius: 15px 15px 0 0;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
}

.tab_btn:hover {
    background-color: green;
    transition: 0.5s;
    color: white;
}

.is-active-btn {
    opacity: 1;
    border-bottom: solid 1px #E0F2F7;
    color: #00BFFF;
}

/*
.tab_item {
    width: 900px;
    height: 500px;
    color: #00BFFF;
}
*/

@media screen and (max-width: 959px) and (min-width:560px) {
    /* タブレットレイアウト */
    /*
    ここに記載したCSSは上書きされる
    そのため色を始めとした上書きを必要としないものは記載しない
    */

    .main-contents {
        width: 550px;
    }

    .time-table1 {
        width: 550px;
        height: 400px;
    }

    .time-table2 {
        width: 550px;
        height: 400px;
    }

    .time-table3 {
        width: 550px;
        height: 400px;
    }

    .kikaku-wrapper {
        margin: 20px;
        padding: 30px 15px 0px 15px;
        height: 180px;
        width: 300px;
        border-radius: 17px;
        box-shadow: 4px 4px 10px 2px #d0cec6;
    }

    h1 {
        font-size: 21px;
        margin: 0px;
    }

    h2 {
        font-size: 17px;
        margin: 5px 5px 20px 5px;
    }

    .pc-firstline {
        display: initial;
    }

    .tab_item {
        display: none;
    }

    .is-active-item {
        display: block;
    }

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }

    .tab_btn {
        padding: 24px 5px 5px 5px;
        width: 120px;
        height: 40px;
        border-bottom: solid 1px #E0F2F7;
        display: inline-block;
        font-size: 25px;
        border-radius: 15px 15px 0 0;
    }

}

@media screen and (max-width: 559px) {

    /* スマホレイアウト */
    /*
    ここに記載したCSSは上書きされる
    そのため色を始めとした上書きを必要としないものは記載しない
    */
    .main-contents {
        width: 270px;
    }

    .time-table1 {
        width: 270px;
        height: 195px;
    }

    .time-table2 {
        width: 270px;
        height: 195px;
    }

    .time-table3 {
        width: 270px;
        height: 195px;
    }

    .pc-firstline {
        display: block;
    }

    .kikaku-wrapper {
        margin: 15px;
        padding: 15px 12px 0px 12px;
        height: 170px;
        width: 220px;
        border-radius: 15px;
        box-shadow: 4px 4px 10px 2px #d0cec6;
    }

    h1 {
        font-size: 17px;
        margin: 0px;
    }

    h2 {
        font-size: 15px;
        margin: 5px 5px 20px 5px;
    }

    p {
        font-size: 13px;
    }

    .tab_item {
        display: none;
    }

    .is-active-item {
        display: block;
    }

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }

    .tab_btn {
        padding: 10px 5px 5px 5px;
        width: 75px;
        height: 25px;
        border-bottom: solid 1px #E0F2F7;
        display: inline-block;
        font-size: 25px;
        text-align: center;
        border-radius: 15px 15px 0 0;
    }

}
